{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-xl-5">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>FHE-based Brain Tumor Classifier (Server)</h1>
                            <h5>Powered by Concrete-ML</h5>
                                
                                <form accept-charset="UTF-8" action="{% url 'start_classification' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner_img">
                        <img src="{% static 'img/banner_img.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

{% endblock %}